@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

/* .containerr {
  max-width: 1200px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
} */
.bg_header{
  background-image: url(./assets/bg_header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  background-image: url(./assets/bgfoot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 719px; */
}
footer h2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer p {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
footer span {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
footer ul li {
  color: rgba(255, 255, 255, 0.65);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
