@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

/* .containerr {
  max-width: 1250px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}  */
.bg_header {
  background-image: url(./assets/bg_header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_servise {
  background-image: url(./pages/services/img-services/bg-service.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_referances {
  background-image: url(./pages/references/img-referances/bg-referances.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_news {
  background-image: url(./pages/news/img-news/bg-news.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_commun {
  background-image: url(./pages/contact/img-commun/bg-commun.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_anastasy {
  background-image: url(./pages/services/dropdown/anasayfa/img-anasay/bg_anastasy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-hakk {
  background-image: url(./pages/services/img-services/bg-hakkimizda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-hakk-2 {
  background-image: url(./pages/services/img-services/hakk-bg-box2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hakk-bg-d1 {
  background: linear-gradient(
    90deg,
    rgba(255, 138, 0, 0.1) 0%,
    rgba(255, 138, 0, 0) 100%
  );
}
.hakk-bg-d1-b {
  background: linear-gradient(
    90deg,
    rgba(255, 138, 0, 0) 0%,
    rgba(255, 138, 0, 0.1) 100%
  );
}
.bg-hakk-box3 {
  background: linear-gradient(111deg, #1d0b24 36.23%, #595959 99.26%);
}

.bg_proj {
  background-image: url(./pages/services/dropdown//projeler/img-proj/bg_proj.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ar_ge {
  background-image: url(./pages/services/dropdown/projeler/img-proj/rectangle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-image: url(./assets/bgfoot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 719px; */
}
footer h2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer p {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
footer span {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
footer ul li {
  color: rgba(255, 255, 255, 0.65);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section_2 h2 {
  color: rgba(28, 11, 36, 0.8);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section_3 {
  background-image: url(./pages/about/img-about/bg-section-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_3_2 {
  background-image: url(./pages/about/img-about/bg-section-3-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_3_3 {
  background-image: url(./pages/about/img-about/bg-section-3-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_4 {
  color: rgba(28, 11, 36, 0.8);
  font-family: TacticSans-Bld;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section_4 ul li {
  color: rgba(255, 255, 255, 0.85);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.swich h5 {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.swich_1 {
  background-image: url(./pages/about/img-about/rec.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swich_2 {
  background-image: url(./pages/about/img-about/red-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swich_3 {
  background-image: url(./pages/about/img-about/red-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swich_4 {
  background-image: url(./pages/about/img-about/red-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_5 h2 {
  color: rgba(28, 11, 36, 0.8);
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.service ul li {
  color: rgba(28, 11, 36, 0.5);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.armsan_1 {
  background-image: url(./pages//services//img-services//armsan-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.l {
  color: #fff;
  font-family: TacticSans-Bld;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pop {
  color: #ff8a00;
  font-size: 12px;
  font-style: normal;
  line-height: 27px; /* 225% */
  letter-spacing: 6px;
}
.armsan_2 {
  background-image: url(./pages/services/img-services/armsan2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.armsan_3 {
  background-image: url(./pages/services/img-services/armsan3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.armsan_4 {
  background-image: url(./pages/services/img-services/armsan4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.armsan_5 {
  background-image: url(./pages/services/img-services/armsan5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.armsan_6 {
  background-image: url(./pages/services/img-services/armsan6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.armsan_7 {
  background-image: url(./pages/services/img-services/armsan7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.armsan_8 {
  background-image: url(./pages/services/img-services/armsan8.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section form p {
  color: rgba(28, 11, 36, 0.25);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 262.5% */
  margin-bottom: 15px;
}
section form input {
  color: rgba(28, 11, 36, 0.65);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 168% */
}
.text_ref p {
  color: rgba(28, 11, 36, 0.75);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 210% */
}
.ulsearch li {
  color: rgba(28, 11, 36, 0.5);
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.p1 {
  color: rgba(28, 11, 36, 0.75);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.p2 {
  color: rgba(28, 11, 36, 0.65);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 30px;
  /* line-height: 42px; */
}
/* dropdown */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: orange;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.guven p{
  margin-top: 20px;
  font-size: 14px;
}
.guven h3{
  margin-top: 20px;
  font-weight: 700;
}
.given:hover {
  color: #ff8a00;
  cursor: pointer;
  border-color: #ff8a00;
  
}
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root{
  width: 448px !important;
}